.main{
    display: grid;
    grid-template-areas:   "header header header" 
                            "stuff stuff stuff"
                            "stuff stuff stuff"
                            "footer footer footer";
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: 100px repeat(2, 360px) 100px;
    min-width: 500px;
    margin: auto;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.item{
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
    width: 250px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.3px;
    text-align: left;
    color: #ffa500;
    padding: 0px 0px 0px 10px;
    display: inline;
  }

  h1{
      display: inline;
  }

  img {
    width: 100%;
    height: auto;
  }

  .time {
    padding-left: 10px;
    width: 20px;
    height: auto;
    position: relative; 
    top: 5px;
  }

  .mins {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.3px;
    text-align: right;
    color: #4a4a4a;
    margin: 5px;
  }

  .description {
    font-family: 'Roboto', sans-serif;    font-size: 14px;
    font-weight: 300;
    line-height: 1.29;
    letter-spacing: 0.1px;
    text-align: left;
    color: #4a4a4a;
    padding: 5px 5px 0 5px;  
    border-top: 1px solid #4a4a4a;
    margin: 0 5px 5px 5px;
  }

  .header {
      grid-area: header;
      background-color: #ffa500;;
      text-align: center;
      color: white;
      font-family: 'Roboto', sans-serif;    font-size: 14px;
      align-self: auto;   
      padding: 10px 0 10px 0;
  }

  .footer {
    grid-area: footer;
    background-color: #ffa500;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;    
    font-size: 14px;
    padding: 10px 0 10px 0;
}

.icon{
    width: 20px;
    height: auto;
    padding: 0 2px 0 0;
}

.links a{
    display: block;
    color: #ffa500;
    font-family: 'Roboto', sans-serif;    
    padding: 0 0 0 10px;
}